body {
  padding-top: 70px;
}

.add-proxy-button {
  float: right;
}

.proxy .description {
  color: #989898;
}

.proxy-middleware .element {
  font-weight: 500;
}

.proxy-middleware .repo {
  color: #989898;
}

.proxy-middleware-edit .repo {
  font-weight: 500;
}

.proxy-middleware-edit .description {
  color: #787878;
  font-style: italic;
}

.create-proxy #documentation {
  height: 100px;
}

.middleware .repo {
  font-weight: 500;
}

.middleware .description {
  color: #787878;
  font-style: italic;
}

.inline-block {
  display: inline-block;
}

.min-height-100 {
  min-height: 100px;
}

.width-100-percent {
  width: 100%;
}